# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Project File
*.ede
*.sublime-project
*.sublime-workspace
*.elf
prog1
prog2
matrix
